* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

#home .hero {
    background: url('hero-bg.jpg') no-repeat center center/cover;
    color: #FFA500;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    background: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #0056b3;
}

/*--------------------------------------------------------------
# Quiz
--------------------------------------------------------------*/
.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px; /* Ajuste para deixar mais espaço disponível */
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin-bottom: 30px;
}


.explanation h3 {
    font-size: 1.5em; /* Aumenta o tamanho do título */
    margin-bottom: 10px;
    font-weight: bold;
}

.explanation p {
    font-size: 1em; /* Ajusta o tamanho do texto explicativo */
    line-height: 1.6; /* Espaçamento entre linhas para facilitar a leitura */
}

.explanation {
    flex: 3; /* Aumenta a proporção da explicação para deixá-la ainda mais larga */
    margin-right: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}

.quiz-container {
    width: 70%; /* Define uma largura fixa para a área de questões */
    max-width: 500px; /* Limita a largura máxima */
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.question {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: justify; /* Justifica o texto da pergunta */
}


.options {
    list-style-type: none;
    padding: 0;
}

.options li {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 15px;
}

button:hover {
    background-color: #45a049;
}

.result {
    font-weight: bold;
    margin-top: 20px;
}
